{{#each myCDs}}
 <p><h3>CD name:  {{name}}</h3></p>
 <p><h3>CD artist:  {{artist}}</h3></p>
 <p><h3>CD year:  {{year}}</h3></p>
 <p><h3>CD price:  {{price}}</h3></p>


{{/each}}

 <a href="/">Return to home page</a>
 